@media only screen and (min-width: 600px) {
	html,
	body {
		position: relative;
		width: 100%;
		height: 100%;
	}

	body {
		color: #dafff9;
		margin: 0;
		padding: 8px;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}

	a {
		color: rgb(0, 100, 200);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	label {
		display: block;
	}

	input,
	button,
	select,
	textarea {
		font-family: inherit;
		font-size: inherit;
		-webkit-padding: 0.4em 0;
		padding: 0.4em;
		margin: 0 0 0.5em 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 2px;
	}

	input:disabled {
		color: #ccc;
	}


	.add_track {
		color: #6fffe9;
		background-color: rgb(255,255,255, 0);
		border: none;
		outline: none;
	}


	button:disabled {
		color: #999;
	}

	button:not(:disabled):active {
		background-color: #ddd;
	}

	button:focus {
		border-color: #666;
	}

	nav a {
		color: #6fffe9;
		padding: 5px;
		width: 40px;
		height: 40px;
	}

	.preview_link {
		color: rgb(112, 255, 234);
		width: 40px;
		height: 40px;
	}

	.track-extras {
		display: flex;
		align-items: end;
		flex-direction: column;
	}

	.upperPart {
		margin-top: 15px;
		width: 200%;
		height: 200%;
		display: flex;
		align-items: end;
		flex-direction: row;
	}

	.track-card {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.track-extras {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	button {
		background-color: #1c2541;
		border: none;
		padding: 10px;
		align-items: center;
		color: rgb(217, 255, 249);
		border-radius: 20px;
	}

	input {
		background-color: #1c2541;
		border: none;
		padding: 10px;
		align-items: center;
		color: #dafff9;
		border-radius: 20px;
		margin: 10px;
	}

	form {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.divisor {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.infos {
		margin-top: 50px;
		border-radius: 30px;
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background: rgb(57, 79, 106);
		align-items: center;
		padding: 10px;
		margin: 30px;
	}

	.part {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.popularity {
		color: #6fffe9;
	}
	

	.options {
		width: 100vw;
		/* Imposta la larghezza al 100% della larghezza della finestra visualizzata */
		position: fixed;
		/* Per posizionare l'elemento rispetto alla finestra visualizzata */
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		/* Per distribuire uniformemente gli elementi lungo il contenitore */
		align-items: center;
		/* Per centrare verticalmente gli elementi */
		bottom: 0;
		/* Fissa l'elemento al fondo della finestra */
		left: 0;
		/* Posiziona l'elemento all'estrema sinistra della finestra */
		padding: 10px;
		/* Aggiunge un padding per spaziatura */
	}

	.container {
		/* margin-top: 35px; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.section:hover {
		box-shadow:
			0 0 6px 3px #dafff9,
			0 0 10px 6px #5bc0be,
			0 0 14px 9px #6fffe9;
		border-radius: 10px;
		transition: padding 1s, box-shadow 1s;
	}

	.section {
		display: flex;
		align-items: center;
		flex-direction: column;
		border-radius: 10px;
		transition: padding 1s, box-shadow 1s;
	}

	.tracks_container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.alternative {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.songs_container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.grafico {
		width: 50%;
		margin: 0 auto;
	}
	.imgStats{
		width: 250px;
		border-radius: 30px;
		height: 250px;
		padding: 15px;
	}
}

@media only screen and (max-width: 600px) {
	html {
        width: 90%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
    }

    body {
        color: #dafff9;
        margin: 0;
        padding: 8px;
        box-sizing: border-box;
		overflow-x: hidden;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }

	a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

	label {
		display: block;
	}

	input,
	button,
	select,
	textarea {
		font-family: inherit;
		font-size: inherit;
		-webkit-padding: 0.4em 0;
		padding: 0.4em;
		margin: 0 0 0.5em 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 2px;
	}

	input:disabled {
		color: #ccc;
	}

	.add_track {
		color: #6fffe9;
		background-color: rgb(255,255,255, 0);
		border: none;
		outline: none;
	}

	button:disabled {
		color: #999;
	}

	button:not(:disabled):active {
		background-color: #ddd;
	}

	button:focus {
		border-color: #666;
	}

	nav a {
		color: #6fffe9;
		padding: 5px;
		width: 40px;
		height: 40px;
	}

	.preview_link {
		color: rgb(112, 255, 234);
		width: 40px;
		height: 40px;
	}

	.track-extras {
		display: flex;
		align-items: end;
		flex-direction: column;
	}

	.upperPart {
		margin-top: 15px;
		width: 200%;
		height: 200%;
		display: flex;
		align-items: end;
		flex-direction: row;
	}

	.track-card {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.track-extras {
		display: flex;
		flex-direction: column;
		align-items: baseline;
	}

	button {
		background-color: #1c2541;
		border: none;
		padding: 10px;
		align-items: center;
		color: rgb(217, 255, 249);
		border-radius: 20px;
	}

	input {
		background-color: #1c2541;
		border: none;
		width: 20%;
		padding: 10px;
		align-items: center;
		color: #dafff9;
		border-radius: 20px;
		margin: 10px;
	}

	form {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.divisor {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.infos {
		margin-top: 50px;
		border-radius: 30px;
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background: rgb(57, 79, 106);
		align-items: center;
		padding: 10px;
		margin: 30px;
	}

	.part {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.popularity {
		color: #6fffe9;
	}

	.options {
		width: 90vw;
		/* Imposta la larghezza al 100% della larghezza della finestra visualizzata */
		position: fixed;
		/* Per posizionare l'elemento rispetto alla finestra visualizzata */
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		/* Per distribuire uniformemente gli elementi lungo il contenitore */
		align-items: center;
		/* Per centrare verticalmente gli elementi */
		bottom: 0;
		/* Fissa l'elemento al fondo della finestra */
		left: 0;
		/* Posiziona l'elemento all'estrema sinistra della finestra */
		padding: 10px;
		/* Aggiunge un padding per spaziatura */
	}

	.container {
        /* margin-top: 35px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section:hover {
		box-shadow:
			0 0 6px 3px #dafff9,
			0 0 10px 6px #5bc0be,
			0 0 14px 9px #6fffe9;
		border-radius: 10px;
		transition: padding 1s, box-shadow 1s;
	}

    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        transition: padding 1s, box-shadow 1s;
    }

    .tracks_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alternative {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .songs_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grafico {
        width: 90%; /* Modifica la larghezza del grafico per adattarsi meglio ai dispositivi mobili */
        margin: 0 auto;
    }

	.imgStats{
		width: 100px;
		border-radius: 30px;
		height: 100px;
		padding: 5px;
	}
}